$headingPrimary: #fca311;

.navbar {
  display: flex;
  list-style-type: none;
  font-size: 12vw;
  justify-content: flex-start;
  padding: 2vh 2.5vw;
  align-items: center;
}

.bordered {
  border: 0.2rem solid $headingPrimary;
  padding: 0 1.5rem;
  font-family: Rock Salt;
  text-align: center;
}

.navItem {
  text-decoration: none;
  margin-right: 3vw;
}

#projects {
  margin-left: auto;
}

@media (min-width: 600px) {
  .navbar {
    font-size: 3vw;
  }
}
